body {
    margin: 0;
    padding: 0;
}

.Box {
    height: 100px;
    width: 100%;
    background-color: black;

}

.GameMania {
    height: 100px;
    width: 340px;
    background-image: url(img/file.png);
    background-size: 350px 100px;
}

.logo {
    margin-left: 330px;
    height: 100px;
    width: 100px;
    background-image: url(img/logo.png);
    background-size: 100px 100px;
}

.banner {
    height: 330px;
    width: 100%;
    background-image: url(img/banner.png);
    background-repeat: no-repeat;
    background-size: 440px 300px;
    margin-top: 2px;
}

.Darkness {
    height: 300px;
    width: 100%;
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
}

.text_banner {
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 250px;
    color: white;
    font-family: keania one;
}

.container {
    gap: 30px;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(1, 200px);
    margin-left: 120px;

}

.quadrado {
    background-color: red;
    width: 200px;
    height: 200px;
}

.rodape{
    background-color: #D9D9D9;
    height: 250px;
    width: 430px;
}